
<!DOCTYPE html>
<html lang="en">
<head>
<title>Flash Error</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Error Page Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="/static/404.css" rel="stylesheet" type="text/css" media="all" />
<body>
	<section id="not-found">
		<div id="title">404 Error Page</div>
		<div class="circles">
		  <p>404<br>
		   <small>PAGE NOT FOUND</small>
		  </p>
		  <img class="circle big" src="https://c.tenor.com/D6NVIgMQLagAAAAM/finger-spin-anime.gif">
		  <img class="circle med" src="https://c.tenor.com/D6NVIgMQLagAAAAM/finger-spin-anime.gif">
		  <img class="circle small" src="https://c.tenor.com/D6NVIgMQLagAAAAM/finger-spin-anime.gif">
		</div>
	</section>
<script src="/static/rAF.js"></script>
<script src="/static/demo-2.js"></script>
</body>
</html>